
<tr>
  <td><%= team.name %></td>
  <td><%= team.mascot %></td>
  <td>
    <% if is_coach?(team) %>
      <%= link_to "Edit", edit_team_path(team), class: "btn btn-default pull-right" %>
    <% end %>
    <%= link_to "Profile", team, class: "btn btn-default pull-right" %>
  </td>
</tr>
