<tr>
  <td><p><%= team_player.member_first_name %></p></td>
  <td><p><%= team_player.member_last_name %></p></td>
  <td>
    <% team_player.positions.each do |position| %>
      <%= position.title %><br>
    <% end %>
  </td>
  <td>
    <div class="btn btn-xs">Profile</div>
    <div class="btn btn-xs">Edit</div>
   
   
   <%= link_to "View Notes", {controller: 'team_members', action: 'note', id: team_player.id}, class: "btn btn-xs", :remote => true %>
    <div  id="view-notes-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"></div>
  </td>
</tr>
