<div class="panel panel-default">
    <div class="panel-heading">Team Players</div>
    </div>
    <!-- Leaving the body panel of this table empty for now -->
    <div class="panel-body"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
          <% @team_players.each do |team_player| %>
           <tr>
             <td><p><%= team_player.member_first_name %></p></td>
             <td><p><%= team_player.member_last_name %></p></td>
             <td>
               <% team_player.positions.each do |position| %>
                 <%= position.title %><br>
               <% end %>
             </td>
             <td>
               <div id="profile-profile-btn" class="btn btn-xs" onClick="">Profile</div>
               <div id="profile-edit-btn" class="btn btn-xs" onClick="makeVisible(<%= team_player.id %>);">Edit</div>
             </td>
           </tr>
           <% end %>
        </tbody>
    </table>
</div>
