<h1><% if signed_in? %>
My Teams
<% else %>
Listing Teams
<% end %>
</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Mascot</th>
            </tr>
        </thead>
        <tbody>
            <%= render @teams %>
        </tbody>
    </table>
<br>
<%= link_to 'New Team', new_team_path %>
