<%= provide(:title, @team.name) %>
<div id='calendar'></div>
<%= link_to "Add New Event", new_team_event_path(@team), remote: true, class: "btn btn-primary" %>
<%= render "layouts/modal" %>
<p>
<%= render 'calendars/calendar' %>
</p>
