<%= provide(:title, @team.name) %>
<%= render 'header' %>

<script>
  var events = <%= @availability_events.html_safe %>
</script>

<!-- Hidden until calendar event -->
<div class="popupEvent">

</div>


<%= render 'calendar/shared_calendar' %>
