<%= form_for([@team_player, @note]) do |f| %>
  <div class="field">
      <%= f.text_area :note_text,:size => "60x5", placeholder:"Enter Note Text Here"%>
  </div>
  <div class="actions">
    <%= f.submit "Add Note", class: "btn btn-primary" %>
  </div>
<% end %>
