<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @notes %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
