
<!-- Hidden until calendar event -->
<div class="popupEvent">
    <form>
        <input type="text">
        <button id="popupBtn">Submit</button>
    </form>
</div>
<%= render 'calendar/shared_calendar' %>
