<h1>Listing team_positions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @team_positions.each do |team_position| %>
      <tr>
        <td><%= link_to 'Show', team_position %></td>
        <td><%= link_to 'Edit', edit_team_position_path(team_position) %></td>
        <td><%= link_to 'Destroy', team_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team position', new_team_position_path %>
