<div id="owl-carousel">
  <% @team_images.each do |team_image| %>
  <div class="item"> <%= link_to image_tag(team_image.image), team_team_image_path(@team, team_image), remote: true %> </div>
  <% end %>
</div>
<%= render "layouts/modal" %>