@import "bootstrap";
@import "bootstrap-sprockets";

#logo{
  margin-top: 10px;
  font-family: Garamond, serif;
  line-height: 1em;
  color: #0099FF;
  font-weight: bold;
  font-size: 28px;
  cursor: default;
  text-decoration: none;
  background: none;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}