// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team-page-header{
    color: black;
    text-decoration: none;
}
#team-profile-top-btn{
    color: white;
}

.new-team-btn{
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: #fff;
  }
}
.table-team-list{
  
}
