<div id="reusableModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4 id="reusableHeading" class="modal-heading">Modal header</h4>
      </div>
      <div id="reusableBody" class="modal-body">
      </div>
      <div id="reusableFooter" class="modal-footer"> 
      </div>
    </div>
  </div>
</div>

